<div style="width:530px ;height:300px;margin-top:20px;margin-left:30%">
  <h2 style="margin-left:30% ;">Dropdown</h2>
  <ng-select [items]="cars" 
           bindLabel="name" 
           bindValue="id">
</ng-select>

<h2 style="margin-left:30% ;">Multiple select Dropdown</h2>
  <ng-select [items]="cars" 
           bindLabel="name" 
           bindValue="id" [multiple]="true" [closeOnSelect]="false">
</ng-select>

<!-- <h2 style="margin-left:30% ;">Form Handling</h2>
<form (ngsubmit)="submit()">
  <ng-select [items]="cars" 
           bindLabel="name" 
           bindValue="id"  [(ngModel)]="carss" name="carss">
</ng-select>
<button type="submit">save</button>
</form> -->
<hr>
<h2>Reusable Components</h2>
<ul *ngFor="let car of cars">
<app-first-component [items]="car"></app-first-component>
</ul>

<ul *ngFor="let user of users">
  <app-second-component [items]="user"></app-second-component>
</ul>
<hr>
<h2>Using ng-content and ng-template</h2>
<h2>hloo angular</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
<hr>
<h2 channelname>hloo angular12</h2>
<p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, molestiae!</p>
</div>
<hr>

   
